<html>
	<head>
		<title>QR attendance</title>
		<link rel="stylesheet" type="text/css" href="attendance_css.css"></link>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container"> 
			<div class="row">
				<div class="col-sm-12" style="font-size:70px;text-align: center;">STUDENT PRESENCE PORTAL</div>
			
			</div>
			<div class="row"> 
				<div class="blocktext" style="font-size: 20px">
					This web portal is not support to all person. Only registered user from higher authority can access.
				</div>
			</div>
			<div class="gap">
			<div class="row">
				<div class="col-sm-6">
					<button style="float: right;">Login</button>
				</div>
				<div class="col-sm-6">
					<button style="float: left;">Sign Up</button>
				</div>
			</div>
			</div>
		</div> 
			<!--footer-->
			<div class="footer">
			
			</div>
			<!-- End footer-->
	</body>
</html>