.blocktext{
	margin-left: 310px;
	margin-right: 300px;
	font-size: 20px;
}
.gap{
	margin-top: 20px;
}
.footer{
	position: absolute;
	background: #74D0ED;
	width: 100%;
	padding: 20px;
	bottom: 0px;
}
.contact{
	float: right;
}